/* Page containers */
.cKF6Xt {
    padding: 4px;
    width: 95%;
    margin-left: 5%;
    background: #0a0a0a;
    height: 100%;
    text-align: center;
}
.IVeuB5 {
    padding: 4px;
    width: 95%;
    margin-left: 5%;
    background: #0a0a0a;
    height: 100%;
    text-align: center;
}
/* Component container */
